.whole-body{
  /* border: red solid 1px; */
  height: var(--body-height);
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon {
  width: 8%;
  margin-left: 3%;
}

.form{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* margin-left: 2vw; */
  /* padding-left: 2vw; */
}
.countries{
  width: 45vw;
}
.copies{
  margin-left: 2vw;
  width: 45vw;
}
.passportImage {
  max-width: 45vw;
}

.imageCard {
  /* border: 1px solid black; */
  position: relative;
}
.photosContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.crossButton {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
}
.bottom {
  gap: 2vh;
  padding-bottom: 8vh;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  align-items: end;
  position: fixed;
  bottom: 2%;
  justify-content: space-between;
  margin: 20px;
}

.bottom ::ng-deep .bottom-button{
  background-color: var(--primary);
}