.instructions-submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}
mat-stepper {
  padding: 5% 2%;
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.init-btn-container-bottom {
  justify-self: flex-end;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.btn-container-bottom {
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h1 {
  margin-top: 10%;
  text-align: center;
}

form {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.instruction-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
