.instructions-submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}
mat-stepper {
  padding: 5% 2%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.btn-container-bottom {
  position: absolute;
  bottom: 5vh;
  display: flex;
  justify-content: end;
  width: 80%;
}
