.header {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 8vh;
  color: var(--text)
}

.whole-body{
  /* border: red solid 1px; */
  height: var(--body-height);
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.apply-button{
  height: 5vh;
  background-color: var(--accent);
}
.apply-text {
  color: #ffffff;
}
.gallery-cards-container {
  /* border: red solid 2px; */
  width: 97vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 100px;
  min-height: calc(50% - 100px);
}

.gallery-controls {
  position: fixed;
  /* top: 50%; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

app-gallery-card {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: 7px;
  background-color: var(--secondary);
}

.gallery-controls ::ng-deep .bottom-button {
  background-color: var(--accent);
}

.plus {
  margin-top: 20vh;
}

.data-container{
  /* border: red solid 1px; */
  overflow-x: hidden;
  width: 100vw;
  /* margin-left: 1.3vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: center; */
  align-items: center;
  /* align-items: center; */
}

.bottom {
  gap: 2vh;
  bottom: 0%;
  margin-bottom: 10vh;
  padding: 10px 0px;
  padding-right: 5vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
  /* background-color: white; */
  /* border-top: black 1px solid; */
}

.card-form {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2.5vh;
  width: 97vw;
  height: 10vh;
  /* width: clamp(400px, 100vw, 800px); */
}

.size-input {
  width: 35%;
}
.inputField {
  width: 35%;
  margin-left: 2vw;
}

.card-form ::ng-deep .inputField{
  height: 6vh;
}
