h3 {
  text-align: center;
}

.gallery-cards-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 100px;
  min-height: calc(50% - 100px);
}

.gallery-controls {
  position: fixed;
  /* top: 50%; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom {
  bottom: 0%;
  padding: 10px 0px;
  background-color: white;
  border-top: black 1px solid;
  justify-content: space-around;
}

.card-form {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: clamp(400px, 100vw, 800px);
}

.size-input {
  width: 35%;
}
.inputField {
  width: 35%;
}
