h1 {
  text-align: center;
  margin-top: 12vh;
  margin-bottom: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon {
  width: 8%;
  margin-left: 3%;
}

.gallery-cards-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 100px;
  min-height: calc(50% - 100px);
}

.gallery-controls {
  position: fixed;
  /* top: 50%; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus {
  margin-top: 20vh;
}

.bottom {
  gap: 2vh;
  bottom: 0%;
  margin-bottom: 10vh;
  padding: 10px 0px;
  padding-right: 5vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  /* background-color: white; */
  /* border-top: black 1px solid; */
  justify-content: space-around;
}

.card-form {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: clamp(400px, 100vw, 800px);
}

.size-input {
  width: 35%;
}
.inputField {
  width: 35%;
  margin-left: 2vw;
}
