.whole-body {
  /* border: red solid 1px; */
  height: var(--body-height);
  display: flex;
  flex-direction: column;
}
.logo{
  height: 120px;
  width: 120px;
  /* background-color: var(--secondary); */
}
.header {
  font-size: xx-large;
  color: var(--text);
  margin-bottom: 8vh;
  margin-top: 2vh;
  text-align: center;
}
.upcoming-card-container {
  padding: 5%;
  margin-bottom: 5%;
  padding-top: 0;
}

.upcoming-card {
  box-shadow: 2px;
  border-radius: var(--border-radius);
  border: 1px solid rgb(224, 224, 224);
  background-color: var(--secondary);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  padding: 10px;
}

.upcoming-card-title {
  color: var(--text);
  font-weight: bolder;
  font-size: 1.5em;
  margin-bottom: 5%;
}

.upcoming-card-details {
  /* text-align: center; */
  font-size: 1em;
}

.upcoming-card-detailsImage {
  color: var(--primary);
  font-size: 1.25rem;
}

.statusOrder {
  color: var(--primary);
  font-weight: bold;
}

.upcoming-card-actions {
  display: flex;
  justify-content: flex-end;
}

.options-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.options-button {
  width: 100%;
  margin-bottom: 10%;
}

.button-option {
  background-color: var(--accent);
  border: 1px solid #683ab7b2;
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: var(--card-shadow);
}
.icon {
  /* border-radius: 10px; */
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;

  /* flex: 0.4; */
  background: var(--accent);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: var(--secondary);
  font-size: 32px;
  width: 58px;
}

.button-option .button-text {
  color: var(--secondary);
  font-size: 20px;
  /* font-weight: 450; */
  /* color: #673ab7; */
}

.delivery-title {
  color: var(--primary);
}
.confetti {
  height: 24px;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10% {
    transform: translate3d(-1px, 1px, 0);
  }

  40%,
  60% {
    transform: translate3d(0px, 0, 0);
  }
}

.color-name {
  color: var(--accent);
}
.upcoming-card {
  position: relative;
}

.upcoming-card .absolute {
  position: absolute;
}

.left-svg {
  width: 100px;
  transform: translate(0px, 0px);
  animation: rotation 32s infinite linear;
}

.right-svg {
  width: 70px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  overflow: hidden;
  animation: rotation 25s infinite linear;
}
.small-svg {
  width: 40px;
  bottom: 5px;
  animation: rotation 25s infinite linear;
}
.big-svg {
  right: 5px;
  bottom: 90px;
  width: 110px;
  animation: rotation 25s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
  0% {
  }
}

.smoothScroll {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.go-below-container {
  position: absolute;
  bottom: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  margin: 0 1%;
}

.gb-txt {
  margin-bottom: 0;
}

.gb {
  font-size: 33px;
}
