.upcoming-card-container {
  padding: 5%;
  margin-bottom: 10%;
}

.upcoming-card {
  border: 1px solid gray;
  background-color: #fac36b;
}

.upcoming-card-title {
  font-size: 1.5em;
  margin-bottom: 10%;
}

.upcoming-card-details {
  font-size: 1em;
}

.upcoming-card-actions {
  display: flex;
  justify-content: flex-end;
}

.options-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.options-button {
  width: 100%;
  margin-bottom: 10%;
}

.options-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.options-button {
  width: 100%;
  margin-bottom: 10%;
}

.button-option{
 border: 1px solid #673AB7;
 display: flex;
 align-items: center;
 margin-bottom: 10px;
}
.button-option .icon{
 flex: 0.2;
 max-width: 45px;
 background: #673AB7;
 padding: 10px;
 margin-right: 10px;
 color: white;
}

.button-option .button-text{
 font-size: 20px;
 color: #673ab7;
}
