.topbarContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.topNav {
  height: 64px;
}

.labDeets {
  border-left: 2px solid white;
  padding-left: 5%;
  margin-left: 5%;
}

:host ::ng-deep .mdc-list-item__content {
  display: flex;
  align-items: center;
}
