<mat-toolbar color="primary" class="topNav">
  <button mat-icon-button (click)="isExpanded = !isExpanded">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name">
    Lab Dashboard <span class="labDeets">{{ labName }} (ID# {{ labId }})</span>
  </h1>
  <div class="topbarContainer">
    <button (click)="logout()" mat-raised-button>
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    class="example-sidenav"
    mode="side"
    opened="true"
    (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()"
  >
    <mat-nav-list>
      <mat-list-item
        [ngClass]="{ selected: selectedButton === 'button1' }"
        (click)="selectedButton = 'button1'"
        class="parent"
        routerLink="/lab-dashboard"
      >
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">
          Dashboard
        </span>
      </mat-list-item>
      <mat-list-item
        [ngClass]="{ selected: selectedButton === 'button2' }"
        (click)="selectedButton = 'button2'"
        class="parent"
        routerLink="/pendingApproval"
      >
        <mat-icon mat-list-icon>autorenew </mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">
          Pending Approval
        </span>
        <!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
      </mat-list-item>
      <mat-list-item
        [ngClass]="{ selected: selectedButton === 'button3' }"
        (click)="selectedButton = 'button3'"
        class="parent"
        routerLink="/retakeNeeded"
      >
        <mat-icon mat-list-icon>assignment_return</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">
          Pending Retake
        </span>
      </mat-list-item>
      <mat-list-item
        [ngClass]="{ selected: selectedButton === 'button4' }"
        (click)="selectedButton = 'button4'"
        class="parent"
        routerLink="/orders"
      >
        <mat-icon mat-list-icon>assignment</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">
          Approved
        </span>
      </mat-list-item>
      <mat-list-item
        [ngClass]="{ selected: selectedButton === 'button5' }"
        (click)="selectedButton = 'button5'"
        class="parent"
        routerLink="/printing"
      >
        <mat-icon mat-list-icon>print</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">
          Printing
        </span>
      </mat-list-item>
      <mat-list-item
        [ngClass]="{ selected: selectedButton === 'button6' }"
        (click)="selectedButton = 'button6'"
        class="parent"
        routerLink="/archive"
      >
        <mat-icon mat-list-icon>history</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">
          Archive
        </span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <ng-content> </ng-content>
</mat-sidenav-container>
