.topbarContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.topNav {
  height: 64px;
}

.selected {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: var(--secondary);
}

.labDeets {
  border-left: 2px solid white;
  padding-left: 5%;
  margin-left: 5%;
}

:host ::ng-deep .mat-mdc-list-item-unscoped-content {
  display: flex;
  align-items: center;
}
:host ::ng-deep .full-width {
  padding-top: 5px;
}

.nav-icon {
  color: #673ab7 !important;
  margin-right: 10px;
}
