canvas {
  padding: 15px;
  width: 100% !important;
  height: 100% !important;
  margin-top: 40px;
  box-shadow: 7px 8px 15px -7px rgba(143, 122, 122, 0.75);
  -webkit-box-shadow: 7px 8px 15px -7px rgba(143, 122, 122, 0.75);
  -moz-box-shadow: 7px 8px 15px -7px rgba(143, 122, 122, 0.75);
}
