<app-nav-and-sidebar>
    <div class="example-sidenav-content">
      <div class="stat-container">
        <mat-card class="example-card example-background">
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-icon>assessment</mat-icon>
            <mat-card-title>Total Order</mat-card-title>
            <!-- <mat-card-subtitle>Card Subtitle</mat-card-subtitle> -->
          </mat-card-header>
          <!-- <img mat-card-image src="https://via.placeholder.com/350x150" alt="Placeholder image"> -->
          <h1 class="count">41</h1>
          <!-- <mat-card-content>
            <p>Some text goes here to describe the content of the card.</p>
          </mat-card-content> -->
          <!-- <mat-card-actions>
            <button mat-button>Button 1</button>
            <button mat-button>Button 2</button>
          </mat-card-actions> -->
        </mat-card>
        <mat-card class="example-card example-background">
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-icon>assessment</mat-icon>
            <mat-card-title>Total Order</mat-card-title>
            <!-- <mat-card-subtitle>Card Subtitle</mat-card-subtitle> -->
          </mat-card-header>
          <!-- <img mat-card-image src="https://via.placeholder.com/350x150" alt="Placeholder image"> -->
          <h1 class="count">41</h1>
          <!-- <mat-card-content>
            <p>Some text goes here to describe the content of the card.</p>
          </mat-card-content> -->
          <!-- <mat-card-actions>
            <button mat-button>Button 1</button>
            <button mat-button>Button 2</button>
          </mat-card-actions> -->
        </mat-card>
        <mat-card class="example-card example-background">
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-icon>assessment</mat-icon>
            <mat-card-title>Total Order</mat-card-title>
            <!-- <mat-card-subtitle>Card Subtitle</mat-card-subtitle> -->
          </mat-card-header>
          <!-- <img mat-card-image src="https://via.placeholder.com/350x150" alt="Placeholder image"> -->
          <h1 class="count">41</h1>
          <!-- <mat-card-content>
            <p>Some text goes here to describe the content of the card.</p>
          </mat-card-content> -->
          <!-- <mat-card-actions>
            <button mat-button>Button 1</button>
            <button mat-button>Button 2</button>
          </mat-card-actions> -->
        </mat-card>
      </div>
    </div>
  </app-nav-and-sidebar>
  
