<!-- <div class="example-input-wrapper">
    <label for="duration">Animation duration:</label>
    <input id="duration" value="2000" type="number" min="0" step="100" #duration>
  </div> -->

  <div class = 'totalContainer'>
    <h1 class="header">Order Status</h1>
  <mat-vertical-stepper [linear]="true" #stepper class = "content">
    <mat-step  [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Pending</ng-template>
        <!-- <mat-form-field>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field> -->
        <p>Our QA staff is currently verifying if your photo is accurate before proceeding</p>
        <!-- <div>
          <button mat-button matStepperNext>Next</button> 
        </div> -->
      </form>
    </mat-step>
    <!-- <mat-step  [stepControl]="firstFormGroup" *ngIf="retake_needed">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Retake Photo</ng-template>
        <mat-form-field>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <p>You need to retake your passport photos</p>
        <div>
          <button mat-button matStepperNext>Next</button> 
        </div>
      </form>
    </mat-step> -->
    <mat-step  [stepControl]="secondFormGroup" *ngIf="approved">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Approved</ng-template>
        <p>Your photos have been approved by QA</p>
        <!-- <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field> -->
        <!-- <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div> -->
      </form>
    </mat-step>
    <mat-step *ngIf="printing">
      <ng-template matStepLabel>Printing</ng-template>
      <p>Your photos are being printed</p>
    </mat-step>
    <mat-step *ngIf="readyToDeliver">
      <ng-template matStepLabel>Ready to Deliver</ng-template>
      <p>Your photos are ready to deliver</p>
    </mat-step>
  </mat-vertical-stepper>
  <div class = "goBack">
    <button mat-raised-button color="primary" (click)="goBack()">Go back</button>
  </div>
  </div>
  