table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  .filter{
    width: 40%;
  }
  
  .example-container {
    height: 90vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .example-toolbar{
    height: 10vh;
  }
  .example-sidenav-content {
    padding: 2vh;
    display: flex;
    flex-direction: column;
    height: 90vh;
    /* align-items: center; */
    /* justify-content: center; */
  }
  .example-sidenav {
     user-select: none;
  }
  .full-width {
    width: 100%;
  }
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }