<mat-toolbar color="primary" class="">
  <button mat-icon-button (click)="isExpanded = !isExpanded">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name">Lab Dashboard</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav
    #sidenav
    class="example-sidenav"
    mode="side"
    opened="true"
    (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()"
  >
    <mat-nav-list>
      <mat-list-item class="parent" routerLink="/pendingApproval">
        <mat-icon mat-list-icon>autorenew </mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">
          Pending Approval
        </span>
        <!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
      </mat-list-item>
      <mat-list-item class="parent" routerLink="/retakeOrders">
        <mat-icon mat-list-icon>assignment_return</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">
          Pending Retake
        </span>
      </mat-list-item>
      <mat-list-item class="parent" routerLink="/orders">
        <mat-icon mat-list-icon>assignment</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">
          Current Orders
        </span>
      </mat-list-item>
      <mat-list-item class="parent" routerLink="/printing">
        <mat-icon mat-list-icon>print</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">
          Printing
        </span>
      </mat-list-item>
      <mat-list-item class="parent" routerLink="/archive">
        <mat-icon mat-list-icon>history</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">
          Archive
        </span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div class="detailsContainer">
    <h2>Order Details</h2>
    <div><b>Order id: </b>{{ order?._id }}</div>
    <div>
      <b>Order arrival: </b>
      <span>{{ order?.createdAt | date : "medium" }}</span>
    </div>
    <div *ngIf="order?.passportPictures?.length">
      <b>Passport Pictures</b>
      <div class="images">
        <img *ngFor="let img of order?.passportPictures" [src]="img.imageURL" />
      </div>
    </div>
    <div *ngIf="order?.galleryPictures?.length">
      <b>Gallery Pictures</b>
      <div class="images">
        <img *ngFor="let img of order?.galleryPictures" [src]="img.imageURL" />
      </div>
    </div>
    <div>
      <b>Instructions: </b>
      <span>{{ order?.instruction || "No instruction provided" }}</span>
    </div>
    <button mat-raised-button color="primary" (click)="downloadAllImages()">
      Download all
    </button>
  </div>
</mat-sidenav-container>
