.detailsContainer {
  max-width: 100%;
  margin: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.images > img {
  max-width: 300px;
  object-fit: cover;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.example-container {
  height: 90vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-toolbar {
  height: 10vh;
}
.example-sidenav-content {
  padding: 2vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* align-items: center; */
  /* justify-content: center; */
}
.example-sidenav {
  user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
