<app-nav-and-sidebar>
  <div class="detailsContainer">
    <h2>Order Details</h2>
    <div><b>Order id: </b>{{ order?._id }}</div>
    <div>
      <b>Order arrival: </b>
      <span>{{ order?.createdAt | date : "medium" }}</span>
    </div>
    <div *ngIf="order?.passportPictures?.length">
      <b>Passport Pictures</b>
      <div class="images">
        <img *ngFor="let img of order?.passportPictures" [src]="img.imageURL" />
      </div>
    </div>
    <div *ngIf="order?.galleryPictures?.length">
      <b>Gallery Pictures</b>
      <div class="images">
        <img *ngFor="let img of order?.galleryPictures" [src]="img.imageURL" />
      </div>
    </div>
    <div>
      <b>Instructions: </b>
      <span>{{ order?.instruction || "No instruction provided" }}</span>
    </div>
    <button mat-raised-button color="primary" (click)="downloadAllImages()">
      Download all
    </button>
  </div>
</app-nav-and-sidebar>
