<div class="containerLogin">
  <h1 class="pageHeader">Register</h1>
  <div class="oauthButtonContainer">
    <button mat-stroked-button (click)="googleOauth()" class="oauthButtons">
      <mat-icon svgIcon="google"></mat-icon>
      Sign in with Google
    </button>
    <button
      mat-flat-button
      color="primary"
      (click)="facebookOauth()"
      class="oauthButtons"
    >
      <mat-icon svgIcon="facebook"></mat-icon>
      Sign in with Facebook
    </button>
  </div>
  <div class="orText">Or,</div>
  <mat-error *ngIf="errorMessage">{{ errorMessage }} </mat-error>
  <form
    (submit)="handleRegister()"
    class="loginForm"
    [formGroup]="registerForm"
  >
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="Ex. abc@gmail.com"
        formControlName="email"
      />
      <mat-error *ngIf="emailError">{{ emailError }} </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="'password'"
        placeholder="Type your password"
        formControlName="password"
      />

      <mat-error *ngIf="passwordError">{{ passwordError }} </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        [type]="'password'"
        placeholder="Re-Type your password"
        formControlName="rePassword"
      />
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Sign Up</button>
  </form>
  <div>Already have an account? <a routerLink="/login">Log in</a></div>
</div>
