.containerLogin {
  width: clamp(300px, 100vw, 500px);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 2rem;
}
.logo {
  height: 120px;
  width: 120px;
  /* background-color: var(--secondary); */
}
.pageHeader {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 12vh;
}
.oauthButtons {
  display: flex;
}

.oauthButtonContainer {
  min-width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.loginForm {
  min-width: 70%;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}
.centerThis {
  display: flex;
  width: 100vw;
  justify-content: center;
}
