.splashScreenPageCont {
  height: 100vh;
  background-color: #f9f7ff;
}

.splashScreenPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.splashScreenContainer {
  max-width: 500px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

img {
  padding-left: 4%;
  display: block;
  width: 30%;
}

h2 {
  margin-top: 10%;
  width: 82%;
  color: #673ab7;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40%;
  border-radius: 10px;
  padding: 10px 0;
  background-color: #673ab7;
}

a {
  text-decoration: none;
  color: white;
}
