/* app-user-navbar1 {
  position: fixed;
  bottom: 0%;
  /* border-top: 1px solid black; 
  z-index: 9999;
} */

/* NEW*/
app-user-navbar {
  position: fixed;
  bottom: 0;
  z-index: 1;
  background: var(--secondary);
  width: 100vw;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}
.bottomPadding {
  height: 70px;
}

