<div class="containerLogin">
  <h1 class="pageHeader">Login</h1>
  <div class="oauthButtonContainer">
    <button mat-stroked-button (click)="googleOauth()" class="oauthButtons">
      <mat-icon svgIcon="google"></mat-icon>
      Sign in with Google
    </button>
    <button
      mat-flat-button
      color="primary"
      (click)="facebookOauth()"
      class="oauthButtons"
    >
      <mat-icon svgIcon="facebook"></mat-icon>
      Sign in with Facebook
    </button>
  </div>
  <div class="orText">Or,</div>
  <form (submit)="handleLogin()" class="loginForm">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Ex. abc@gmail.com" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="!hidePassword ? 'text' : 'password'"
        placeholder="Type your password"
      />
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
        !hidePassword ? "visibility_off" : "visibility"
      }}</mat-icon>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Login</button>
  </form>
  <div>Don't have an account? <a routerLink="/register">Sign Up</a></div>
</div>
