.background {
  background: linear-gradient(-45deg,#f7f4fa, #e0d2ee );
  background-size: 100% 200%;
  animation: gradient 4s ease infinite;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}