.capturedImage {
  max-width: 100%;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

.webcamContainer {
  position: relative;
  max-width: fit-content;
}

.outline {
  position: absolute;
  bottom: 2% !important;
  left: 50% !important;
  max-height: 98%;
  /* left: 50%; */
  transform: translate(-50%, 0%);
}

.errorMsg {
  width: 100%;
  height: calc(100% - 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  padding: 30px;
  text-align: center;
}
