<div #container *ngIf="cameraOpen" class="webcamContainer">
  <webcam
    class="camera"
    (initError)="handleInitError($event)"
    [width]="windowWidth"
    [trigger]="getTrigger()"
    [captureImageData]="true"
    [allowCameraSwitch]="true"
    [videoOptions]="cameraConfig"
    (imageCapture)="saveImage($event)"
    [imageQuality]="1"
  ></webcam>
  <img class="outline" src="assets/outline.svg" />
</div>
<div *ngIf="errorMsg" class="errorMsg">{{ errorMsg }}</div>
<button *ngIf="cameraOpen" (click)="capture()">Capture</button>
<img *ngIf="!cameraOpen && !errorMsg" [src]="dataUrl" class="capturedImage" />
