.whole-body {
  /* border: red solid 1px; */
  height: var(--body-height);
  display: flex;
  flex-direction: column;
}
.header {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 8vh;
  color: var(--text);
}

.user-info-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* doesn't work for height */
.user-profile-form {
  margin-top: 5%;
  padding-top: 5%;
  height: 20vh;
  overflow-y: auto;
}

.button-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionButtons {
  position: absolute;
  gap: 2vh;
  bottom: 0;
  right: 5%;
  margin-bottom: 10vh;
  padding: 10px 0;
  /* padding-right: 5vw; */
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
}
.actionButtons ::ng-deep .bottom-button {
  background-color: var(--accent);
}

/* .userName {
  font-size: xx-large;
  font-weight: bold;
}
.userDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px;
} */

/* ----------CSS for cards---------- */

.upcoming-card-container {
  padding: 5%;
  margin-bottom: 5%;
  padding-top: 0;
}

.bold {
  color: var(--text);
}

.upcoming-card {
  border-radius: var(--border-radius);
  background-color: var(--secondary);
  box-shadow: var(--card-shadow);
  padding: 10px;
}

.upcoming-card-title {
  color: var(--text);
  font-size: 1.5em;
  margin-bottom: 5%;
}

.upcoming-card-details {
  font-size: 1em;
}

.upcoming-card-title {
  font-size: xx-large;
  font-weight: bold;
}

/* ----Animation-SVG------ */

.left-svg {
  width: 100px;
  transform: translate(0px, 0px);
  animation: rotation 32s infinite linear;
}

.right-svg {
  width: 70px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  overflow: hidden;
  animation: rotation 25s infinite linear;
}
.small-svg {
  width: 40px;
  bottom: 5px;
  animation: rotation 25s infinite linear;
}
.big-svg {
  right: 5px;
  bottom: 90px;
  width: 110px;
  animation: rotation 25s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
  0% {
  }
}

.delivery-info-form {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100vh; */
  margin-bottom: 8vh;
  overflow-y: auto;
}

.delivery-info-form div mat-form-field {
  width: 100%;
}

.delivery-info-form div {
  padding: 0 5%;
  width: 100%;
}

.address-title {
  text-align: center;
  margin-top: 8%;
  margin-bottom: 5%;
}

.button-container ::ng-deep .submit-address {
  width: 90vw;
  border-radius: var(--border-radius);
  background-color: var(--accent);
}
