h1 {
  text-align: center;
  margin: 12vh 0;
}

.priceContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 20px 0px;
}

.price {
  padding-left: 10px;
  border-left: 1px solid black;
}

.delivaryTitle {
  margin: 10px;
}

.userName {
  font-size: xx-large;
  font-weight: bold;
}
.userDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px;
}

.button_text {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.payButton {
  width: calc(100% - 20px);
  margin: 10px;
}

.forBorder {
  border: 1px solid black;
}

.instructionField {
  width: calc(100% - 20px);
}

.instructionWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* --------------------Card Design-------------------- */

.upcoming-card-container {
  padding: 5%;
  margin-bottom: 5%;
  padding-top: 0;
}

.upcoming-card {
  border: 1px solid rgb(224, 224, 224);
  background-color: #fac36b;
  padding: 10px;
}

.upcoming-card-title {
  font-size: 1.5em;
  margin-bottom: 5%;
}

.upcoming-card-details {
  font-size: 1em;
}

.upcoming-card-title{
  font-size: xx-large;
  font-weight: bold;
}