.priceContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 20px 0px;
}

.price {
  padding-left: 10px;
  border-left: 1px solid black;
}
.title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.delivaryTitle {
  margin: 10px;
}

.userName {
  font-size: xx-large;
  font-weight: bold;
}
.userDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px;
}

.button_text {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.payButton {
  width: calc(100% - 20px);
  margin: 10px;
}

.forBorder {
  border: 1px solid black;
}
.instructionField {
  width: calc(100% - 20px);
}
.instructionWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
