<app-nav-and-sidebar>
  <div class="example-sidenav-content">
    <h2>List of Orders</h2>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Mia"
        #input
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="labId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Lab ID</th>
          <td mat-cell *matCellDef="let row">{{ row.labId }}</td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="orderStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Order Status
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.orderStatus | titlecase }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="instruction">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Instruction</th>
          <td mat-cell *matCellDef="let row">
            {{ row.instruction || "No instructions provided" }}
          </td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let row">
            <button
              [routerLink]="['/order', row._id]"
              mat-raised-button
              color="primary"
            >
              View Details
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data <ng-container *ngIf="input.value">matching the filter "{{ input.value }}"</ng-container>
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</app-nav-and-sidebar>
