<mat-toolbar color="primary" class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name">Lab Dashboard</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
			<mat-list-item class="parent" routerLink="/pendingApproval">
				<mat-icon mat-list-icon>autorenew </mat-icon>
				<span class="full-width" *ngIf="isExpanded || isShowing"> Pending Approval </span>
				<!-- <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> -->
			</mat-list-item>
			<mat-list-item class="parent" routerLink="/orders">
				<mat-icon mat-list-icon>assignment</mat-icon>
				<span class="full-width" *ngIf="isExpanded || isShowing"> Orders </span>
			</mat-list-item>
			<mat-list-item class="parent" routerLink="/printing">
				<mat-icon mat-list-icon>print</mat-icon>
				<span class="full-width" *ngIf="isExpanded || isShowing"> Printing </span>
			</mat-list-item>
			<mat-list-item class="parent" routerLink="/archive">
				<mat-icon mat-list-icon>history</mat-icon>
				<span class="full-width" *ngIf="isExpanded || isShowing"> Archive </span>
			</mat-list-item>
		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>

	<div class="example-sidenav-content">
        <h2> List of Orders</h2>
		<mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field>
          
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
          
              <!-- ID Column -->
              <ng-container matColumnDef="labId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Lab ID </th>
                <td mat-cell *matCellDef="let row"> {{row.labId}} </td>
              </ng-container>
          
              <!-- Progress Column -->
              <ng-container matColumnDef="orderStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Status </th>
                <td mat-cell *matCellDef="let row"> {{row.orderStatus}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="instruction">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Instruction </th>
                <td mat-cell *matCellDef="let row"> {{row.instruction}} </td>
              </ng-container>
          
              <!-- Fruit Column -->
              <ng-container matColumnDef="button">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let row"> <button mat-raised-button color="primary">View Details</button> </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
	</div>

</mat-sidenav-container>