<div class="ep-cnt">
  <div class="error-container">
    <h1 class="error-header">
      4<span class="ghost"
        ><img
          src="../../../assets/ghost-fast-fun-ghoulish-halloween-treats-jojoebi-34.png"
          width="200"
          alt="ghost, fast fun ghoulish halloween treats jojoebi" /></span
      >4
    </h1>
    <h2 class="error-subheader">Error: 404 page not found</h2>
    <p class="error-message">
      Sorry, the page you're looking for cannot be accessed
    </p>
  </div>
</div>
