<div class="user-navbar">
  <div class="cartContainer">
    <div *ngIf="cartItemsLen" class="cartBadge"><span class="badgeTxt">{{cartItemsLen}}</span></div>
    <button class="navbarIcons" mat-icon-button routerLink="/cart">
      <mat-icon class="buttonIconCart">shopping_cart</mat-icon>
    </button>
  </div>
  <button class="navbarIcons" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="buttonIcon">account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="logout()" mat-menu-item>Logout</button>
    <!-- <button mat-menu-item>Item 2</button> -->
  </mat-menu>
</div>
