.user-navbar {
  /* background; */
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 8vh; */
  width: 100vw;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  box-shadow: rgba(130, 129, 129, 0.103) 0px 0px 0px 2px;
}

.selected{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: var(--secondary);
}


.navbarIcons {
  width: 64px;
  height: 64px;
}

.buttonIcon {
  /* background-color: white; */
  color: var(--primary);
}

.cartContainer {
  position: relative;
  max-width: 15%;
}

.cartBadge {
  position: absolute;
  top: 5%;
  right: 1%;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badgeTxt {
  display: inline-block;
  text-align: center;
  width: 100%;
}
