<div class="bottombar">
  <a routerLink="/user_dashboard">
    <img
      [ngClass]="{ selected: selectedButton === 'button1' }"
      (click)="selectedButton = 'button1'"
      src="assets/icons/custome-icon/home.svg"
      alt=""
    />
  </a>
  <div class="cartContainer">
    <a routerLink="/cart">
      <img
        [ngClass]="{ selected: selectedButton === 'button2' }"
        (click)="selectedButton = 'button2'"
        src="assets/icons/custome-icon/cart.svg"
        alt=""
      />
      <div class="cartBadge">
        <span class="badgeTxt">{{ 0 }}</span>
      </div>
    </a>
  </div>
  <a routerLink="/profile">
    <img
      [ngClass]="{ selected: selectedButton === 'button3' }"
      (click)="selectedButton = 'button3'"
      src="assets/icons/custome-icon//menu.svg"
      alt=""
    />
  </a>
</div>

<div class="user-navbar"></div>

<!-- <button mat-icon-button [matMenuTriggerFor]="beforeMenu" class="menuButton">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button routerLink="/user_dashboard" mat-menu-item><span>Home</span></button>
  <div>
    <button routerLink="/cart" mat-menu-item>
      <span>Cart</span>
    </button>
    <button routerLink="/profile" mat-menu-item>
      <span>User Profile</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon><span>Logout</span>
    </button>
    <button mat-menu-item routerLink="/login"><span>Login</span></button>
    <button mat-menu-item routerLink="/register"><span>Sign Up</span></button>
  </div>
  <div> -->
<!-- <button (click)="subscribe()" mat-menu-item>
      <span>Subscribe to Notification</span>
    </button>
    <button mat-menu-item (click)="logOutUser()">
      <mat-icon>logout</mat-icon><span>Logout</span>
    </button> -->
<!-- </div>
</mat-menu>  -->
