.user-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
}

.navbarIcons {
  width: 72px;
  height: 72px;
}

.buttonIcon {
  width: 100%;
  height: 100%;
  font-size: 48px;
}
.buttonIconCart {
  width: 100%;
  height: 100%;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartContainer {
  position: relative;
  max-width: 15%;
  border-radius: 15%;
}

.cartBadge {
  position: fixed;
  top: 1%;
  right: 17%;
  
}
