<div class="whole-body">
  <div *ngIf="User" class="user-info-form">
    <div class="top-bar">
      <button class="logout-btn" color="warn" mat-flat-button (click)="logout()"><mat-icon mat-raised-button>logout</mat-icon>Logout</button>
    </div>
    <h1 class="greeting">
      Hello, <span class="name"> {{ User && firstName }} </span>
      <img class="header-icon" src="assets/icons/wave.png" />
    </h1>
    <form
      [formGroup]="deliveryInfoForm"
      (submit)="handleSubmit()"
      class="user-profile-form"
    >
      <h2 class="editH2">Edit Your Profile</h2>
      <div>
        <mat-form-field class="name-field" appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" [value]="User.name" />
          <mat-error *ngIf="name?.errors?.['required']"
            >Name is required</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="phone" appearance="outline" floatLabel="always">
          <mat-label>Phone</mat-label>
          <span class="prefix" matPrefix>+880&nbsp;</span>
          <input class="num" matInput formControlName="contact_number" />
          <mat-error
            *ngIf="contact_number?.errors?.['pattern'] || contact_number?.errors?.['minlength'] || contact_number?.errors?.['maxlength']"
            >Invalid Phone Number</mat-error
          >
          <mat-error *ngIf="contact_number?.errors?.['required']"
            >Phone is required</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="address" appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" />
          <mat-hint>*Address should be at least 10 character</mat-hint>
          <mat-error *ngIf="address?.errors?.['required']"
            >Address is required</mat-error
          >
          <mat-error *ngIf="address?.errors?.['minlength']"
            >Too short. Address should be at least 10 character long</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="city" appearance="outline">
          <mat-label>City</mat-label>
          <input
            type="text"
            placeholder="Pick your city"
            aria-label="cities"
            matInput
            formControlName="city"
            [matAutocomplete]="CityAuto"
          />
          <mat-autocomplete
            [displayWith]="displayFnCities"
            autoActiveFirstOption
            #CityAuto="matAutocomplete"
            (optionSelected)="setZones($event.option.value)"
          >
            <mat-option
              *ngFor="let city of filteredCities | async"
              [value]="city"
            >
              {{ city.city_name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="city?.errors?.['required']"
            >City is required</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="zone" appearance="outline">
          <mat-label>Zone</mat-label>
          <input
            type="text"
            placeholder="Pick your zone"
            aria-label="zones"
            matInput
            formControlName="zone"
            [matAutocomplete]="ZoneAuto"
          />
          <mat-autocomplete
            [displayWith]="displayFnZones"
            autoActiveFirstOption
            #ZoneAuto="matAutocomplete"
            (optionSelected)="setAreas($event.option.value)"
          >
            <mat-option *ngFor="let zone of filteredZones | async" [value]="zone">
              {{ zone.zone_name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="zone?.errors?.['required']"
            >Zone is required</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="area" appearance="outline">
          <mat-label>Area</mat-label>
          <input
            type="text"
            placeholder="Pick your area"
            aria-label="areas"
            matInput
            formControlName="area"
            [matAutocomplete]="AreaAuto"
          />
          <mat-autocomplete
            [displayWith]="displayFnAreas"
            autoActiveFirstOption
            #AreaAuto="matAutocomplete"
          >
            <mat-option *ngFor="let area of filteredAreas | async" [value]="area">
              {{ area.area_name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="area ?.errors?.['required']"
            >Area is required</mat-error
          >
        </mat-form-field>
      </div> 
      <div class="submit-btn-container">
        <button
          class="submit-btn"
          mat-flat-button
          color="primary"
          (click)="handleSubmit()"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>