.whole-body{
  /* border: red solid 1px; */
  height: var(--body-height);
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--text);
  text-align: center;
  margin-top: 12vh;
  animation: entry 1500ms ease-in-out 200ms 1 forwards;
}
.editH2{
  color: var(--text);
}

@keyframes entry {
  0% {
    margin-top: 12vh;
  }
  100% {
    margin-top: 4vh;
  }
}

.name {
  margin-left: 2%;
  color: var(--accent);
}

.header-icon {
  width: 8%;
  margin-left: 3%;
}

.user-profile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  padding-top: 5%;
}

.user-profile-form div mat-form-field {
  width: 100%;
}

.user-profile-form div {
  width: 90%;
}

.prefix {
  padding-left: 33%;
}
.num {
  padding-left: 5%;
}

.submit-btn-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  min-width: 100%;
}

.submit-btn-container ::ng-deep .submit-btn{
  border-radius: var(--border-radius);
  background-color: var(--accent);
}

.logout-btn-container {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-btn {
  min-width: 100%;
}

.actionButtons {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
  margin: 50px;
}

.userName {
  font-size: xx-large;
  font-weight: bold;
}
.userDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px;
}

.address {
  margin-bottom: 5%;
}
