.onboarding-container {
  min-width: 80%;
  min-height: 80%;
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

.onboarding-icon {
  display: block;
  width: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.onboarding-title {
  font-size: 1.4em;
}

.onboarding-instruction {
  font-size: 0.9em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.init-btn-container-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.btn-container-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
