<mat-card class="gallery-card">
  <button class="crossButton" mat-icon-button (click)="removeImage()">
    <!-- <img class="delete" src="../../../assets/icons/custome-icon/delete.svg" alt=""> -->
    <img class="delete" src="../../../assets/icons/custome-icon/delete.svg" alt="">
  </button>
  <mat-card-content class="contentContainer">
    <img class="gallery-image" mat-card-image [src]="preview" />
    <form [formGroup]="imageForm" class="card-form">
      <mat-form-field class="inputField" appearance="outline">
        <mat-label>{{optionsTitle}}</mat-label>
        <input
          class="size-input"
          type="text"
          placeholder="Pick one"
          matInput
          formControlName="size"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredFormatOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="inputField" appearance="outline">
        <mat-label>Copies</mat-label>
        <input matInput type="number" formControlName="copies" />
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
