.gallery-card {
  max-height: fit-content;
  /* width: clamp(400px, 30%, 600px); */
  width: calc(100% - 32px + 2rem);
  /* margin: 10px; */
  position: relative;
  overflow-x: hidden;
  border-radius: var(--border-radius);
  background-color: var(--secondary);
  box-shadow: var(--card-shadow);
}
.gallery-card ::ng-deep .crossButton{
  color: var(--accent);
}

.gallery-image {
  min-width: 37%;
  max-width: 150px;
  max-height: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-left: 2px;
}

.card-form {
  width: 100%;
  padding-top: 2.5vh;
  /* max-width: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.size-input {
  width: 70%;
}

.contentContainer {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 15px !important;
}

.crossButton {
  width: 15%;
  position: absolute;
  right: 0;
  top: 0;
}
.inputField {
  width: 80%;
}
