.gallery-card {
  max-height: fit-content;
  width: 95%;
  margin: 10px;
  position: relative;
}

.gallery-image {
  width: 156px;
  height: 156px;
  object-fit: cover;
}

.card-form {
  padding-top: 2.5vh;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.size-input {
  max-width: 70%;
}

.contentContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 15px !important;
}

.crossButton {
  position: absolute;
  right: 0;
  top: 0;
}
.inputField {
  max-width: 70%;
}
