<div class="retakeImageContainer">
  <div class="top-part" *ngFor="let image of passportPicturesToRetake">
    <!-- <h2>Your last submitted Passport sized Image: </h2> -->
    <img [src]="image.imageURL" class="imageToRetake" />
    <div>
      <b class="instruction">Professional instructions:</b> {{ image.instructionsForRetake || " " }}
    </div>
    <button class="retake-button" mat-stroked-button (click)="retake(image._id || '')">
      <mat-icon>camera</mat-icon>Retake Picture
    </button>
  </div>
  <div class="bottom-part">
    <button class="retake-button" (click)="updateOrder()" mat-stroked-button>Send again</button>
  </div>
</div>
